<div class="container-box">
  <div
    style="margin: 150px 30px 0px 30px; "
    class="grid-container"
  >
    <div *ngFor="let data of mantras; index as i">
      <button class="card" (click)="open(content)" >
        <div class="card-inner" style=" background-image: url({{data.cover}});">
          <div>{{data.name}}</div>
        </div>
      </button>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{data.name}}</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body  mod-body">
          <ngx-extended-pdf-viewer
         
            src="{{data.src}}"
            [useBrowserLocale]="true"
            [textLayer]="false"
            [showHandToolButton]="true"
            [showPresentationModeButton]="true"
            [showBookModeButton]="true"
            [showDrawEditor]="false"
            [showOpenFileButton]="false"
            [showTextEditor]="false"
            [showRotateButton]="false"
            [showStampEditor]="false"
            
          >
          </ngx-extended-pdf-viewer>
        </div>
      </ng-template>
    </div>
  </div>
</div>
