<div
  style="
    background-image: url(../../assets/shubham-dhage-Lajz1oXLhdo-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: scroll;
  "
>
  <div
    style="margin: 70px 30px 0px 30px; height: max-content"
    class="grid-container"
  >
    <div *ngFor="let data of mantras; index as i">
      <div
        style="
          height: 300px;
          width: 260px;
          background-color: white;
          box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
          border-radius: 12px;
          color: rgb(0, 0, 0);
          margin: auto auto 25px auto;
          background-color: rgba(255, 255, 255, 0.3);
        "
      >
        <div
          style="
            height: 100%;
            width: 100%;
            padding: 10px;
            font-size: 3rem;

            text-align: center;
            background-image: url(../../assets/shiva.png);
            background-position: top center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
          "
        >
          <div >
            शिव तांडव  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
