.aligning {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  /* margin-top: 50px; */
  margin: 0;
  padding: 0;
}
.card {
  height: 350px;
  width: 850px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 25px;
  /* box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5); */
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card .inner_part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
  height: 350px;
  position: absolute;
}
.card-btn {
  bottom: 0px;
}
.inner_part .card-img {
  height: 260px;
  width: 260px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.712);
  background-position: center;
  background-size: cover;
}

.content {
  width: 530px;
  padding-right: 20px;
  margin-left: 20px;
  opacity: 1;
  transition: 0.6s;
}

.content .title {
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin: 0 0 0px 0;
}

.content .text {
  font-size: 19px;
  font-weight: 400;
  font-family: "Cairo Play", sans-serif;
  color: #4e4a67;
  margin: 0 auto 0.5rem auto;
  line-height: 1.5em;
  text-align: justify;
}

.card-btn {
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: #000000;
  float: right;
}

.card-btn:hover {
  background: #cecece;
  color: #000000;
}
.temple-list {
  background-color: transparent;
  position: fixed;
  overflow: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  width: 100vw;
  height: 100vh;
  padding-bottom: 5rem;
  /* top: 8rem; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.temple-list::-webkit-scrollbar {
  width: 0;
}

.input {
  top: 5rem;
  width: 15rem;
  height: 50px;
  border-radius: 30px;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 0;
  margin: auto;
  position: absolute;

  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 4rem;
  right: 3rem;

  position: fixed;
  padding: 0;
  z-index: 6;
}
.not-found {
  margin-top: 5rem;
  text-align: center;
  font-size: 3rem;
}
.outer-container {
  /* background-image: url(../../assets/kailash.jpg); */
  position: fixed;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  margin: 0;
  top: 0;
  padding: 0 0 0 0;
}
.outer-container::-webkit-scrollbar {
  width: 0;
}
.button-small {
  margin-left: 1rem;
  scale: 1;
  z-index: 99;
}
.paginator {
  background-color: rgba(255, 255, 255, 0.47);
  height: 7rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  align-items: center;
  padding: 0 0 2rem 0;

  bottom: 1px;
}

/* ***************************************************** */
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #000000;
  padding-right: 40px;
  color: #000000;
}
.input-search::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* ***************************************************** */

@media screen and (max-width: 1700px) {
  .aligning {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  .temple-list {
    /* background-image: url(../../assets/kailash.jpg); */
    background-color: transparent;
    position: fixed;
    overflow: scroll;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    top: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 1024px) {
  .aligning {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  .temple-list {
    /* background-image: url(../../assets/kailash.jpg); */
    background-color: transparent;
    position: fixed;
    overflow: scroll;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    top: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 800px) {
  .aligning {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  .temple-list {
    /* background-image: url(../../assets/kailash.jpg); */
    background-color: transparent;
    position: fixed;
    overflow: scroll;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    top: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 650px) {
  .aligning {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  .card {
    height: 350px;
    width: 95%;

    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
  }

  .card .inner_part {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .inner_part .card-img {
    height: 160px;
    width: 100%;
    padding: 0px;
    border-radius: 25px 25px 10px 10px;
    overflow: none;
    flex-shrink: none;
    box-shadow: none;
  }

  .content {
    width: 100%;
    padding-right: 12px;
    margin: 0px 0px 0px 0px;
    padding-left: 10px;
    opacity: 1;
    transition: 0ms;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .content .title {
    text-align: start;
    font-size: 17px;
    font-weight: 600;
    color: #0d0925;
    margin: 5px 0 0 0;
  }

  .content .text {
    min-height: 99px;
    font-size: 13px;
    font-weight: 400;
    font-family: "Cairo Play", sans-serif;
    color: #4e4a67;
    margin: 0 auto 0.2rem auto;
    line-height: 1.5em;
    text-align: justify;
    overflow: none;
  }
  .card-btn {
    padding: 10px 15px;
    border: none;
    font-size: 13px;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    background: #000000;
    margin: auto auto 10px auto;
  }

  .content button:hover {
    background: #cecece;
    color: #000000;
  }

  .temple-list {
  
    overflow: scroll;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .input {
    width: 5rem;
    height: 35px;
    border-radius: 30px;
    outline: none;
    border: none;
    text-align: center;
    font-size: 0.8rem;
    padding: 0;
    margin: auto;
    position: fixed;
    z-index: 4;
    background-color: transparent;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
    top: 3rem;
    opacity: 0.6;
  }
  .input:focus {
    opacity: 1;
  }
  ::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
  }

  ::-ms-input-placeholder {
    color: rgb(0, 0, 0);
  }
  .search-div {
    top: 0;
    right: 0;
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    overflow: visible;
    padding: 0;
    z-index: 4;
  }
  .not-found {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.6rem;
  }
  .button-small {
    scale: 0.8;
    z-index: 99;
    margin-left: 0px;
    margin-right: 0px;
  }
  .paginator {
    background-color: rgba(255, 255, 255, 0.47);
    height: 7rem;
    display: flex;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0 0 -1rem 0;

    
  }
}
.spinner {
  margin: 7rem 0 0 0;
  display: flex;
  justify-content: center;
}
