<div class="outer-container">
  <div class="search-div">
    <div style="z-index: 2" class="search-box">
      <button class="btn-search"><fa-icon [icon]="faSearch"></fa-icon></button>
      <input
        matInput
        (keyup)="filterTemple()"
        [formControl]="inputControl"
        type="text"
        class="input-search"
        placeholder="Type to Search..."
      />
    </div>
    <p-speedDial
      [model]="items"
      direction="down"
      showIcon="pi pi-caret-down "
      [transitionDelay]="100"
      hideIcon="pi pi-caret-up"
      buttonClassName="p-button-secondary "
      class="button-small"
      [mask]="true"
    ></p-speedDial>
  </div>
  <div class="not-found" *ngIf="!found">Not Found</div>
  <div class="temple-list" style="padding-bottom: 80px">
    <!-- <div class="img-overlay"></div> -->
    <div style="padding-top: 0px">
      <div class="aligning">
        <div *ngFor="let temple of templesData">
          <div class="card" (click)="open(content)">
            <div class="inner_part">
              <div
                class="card-img"
                style="
          background-image: url('{{ temple.photos.cover }}' );    
        "
              ></div>
              <div class="content">
                <div class="title">
                  {{ temple.basic.name }}, {{ temple.basic.location.state }}
                </div>
                <div class="text">
                  {{ temple.basic.bio }}
                </div>
                <button class="card-btn" (click)="open(content)">
                  Read More
                </button>
              </div>
            </div>
          </div>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                {{ temple.basic.name | titlecase }} -
                {{ temple.basic.location.pin | titlecase }},{{
                  temple.basic.location.dist | titlecase
                }},{{ temple.basic.location.state | titlecase }}
              </h4>
              <button
                type="button"
                class="btn btn-outline-dark"
                (click)="modal.close()"
              >
                Close
              </button>
            </div>
            <div class="modal-body">
              <div style="padding-left: 0px; padding-right: 0px">
                <div class="align-inner-card">
                  <div class="card-inner">
                    <div style="padding: 10px">
                      <div>
                        <h4 style="text-align: center">Architecture</h4>
                        <div>
                          <span style="font-weight: 600"
                            ><fa-icon
                              placement="top"
                              ngbTooltip="Style"
                              [icon]="faGopuram"
                            ></fa-icon></span
                          ><span style="margin-left: 10px">{{
                            temple.Architecture.style
                          }}</span>
                        </div>
                        <div>
                          <span style="font-weight: 600"
                            ><fa-icon
                              placement="top"
                              ngbTooltip="Creator"
                              [icon]="faCreator"
                            ></fa-icon
                          ></span>
                          <span style="margin-left: 10px">{{
                            temple.Architecture.creator
                          }}</span>
                        </div>
                        <div>
                          <span style="font-weight: 600"
                            ><fa-icon
                              placement="top"
                              ngbTooltip="Completed"
                              [icon]="faCalendar"
                            ></fa-icon></span
                          ><span style="margin-left: 10px">{{
                            temple.Architecture.completed
                          }}</span>
                        </div>
                        <div>
                          <span style="font-weight: 600"
                            ><fa-icon
                              placement="top"
                              ngbTooltip="Inscriptions"
                              [icon]="faInscriptions"
                            ></fa-icon></span
                          ><span style="margin-left: 10px">{{
                            temple.Architecture.inscriptions
                          }}</span>
                        </div>
                        <div>
                          <span style="font-weight: 600"
                            ><fa-icon
                              placement="top"
                              ngbTooltip="Elevation"
                              [icon]="faElevation"
                            ></fa-icon></span
                          ><span style="margin-left: 10px">
                            {{ temple.Architecture.elevation }}m
                          </span>
                        </div>
                        <div>
                          <span style="font-weight: 600"
                            ><fa-icon
                              placement="top"
                              ngbTooltip="Co-ordinates"
                              [icon]="faMapLocation"
                            ></fa-icon
                          ></span>
                          <span style="margin-left: 10px"
                            >x: {{ temple.basic.coordinates.x }}</span
                          >
                          <span style="margin-left: 10px">
                            y: {{ temple.basic.coordinates.y }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="profile-image"
                  style="
    background-image: url('{{ temple.photos.profile }}');
  "
                ></div>
                <div class="info">
                  <div>
                    <span class="tab"></span>{{ temple.about.basic_info }}
                  </div>
                  <div>
                    <h2>History</h2>
                    <p><span class="tab"></span>{{ temple.about.history }}</p>
                  </div>
                  <div>
                    <h2>Architecture</h2>
                    <p>
                      <span class="tab"></span>{{ temple.about.architecture }}
                    </p>
                  </div>
                </div>
                <div>
                  <hr style="margin-top: 40px" />
                </div>
                <div class="info-card">
                  <!-- <div class="trip-card">
                    <div style="padding: 10px">
                      <!-- <div class="info-card-container">
                        <h5 style="text-align: center">HOW TO REACH</h5>
                        <!-- <div class="info-card-text">
                          <div>
                            <fa-icon
                              placement="bottom"
                              ngbTooltip="By Road"
                              [icon]="faRoad"
                            ></fa-icon>
                          </div>
                          <div style="margin-left: 5px">
                            {{ temple.trip.nearest_road }}
                          </div>
                        </div>
                        <div class="info-card-text">
                          <div>
                            <fa-icon
                              placement="bottom"
                              ngbTooltip="By Train"
                              [icon]="faTrain"
                            ></fa-icon>
                          </div>
                          <div style="margin-left: 5px">
                            {{ temple.trip.nearest_railway }}
                          </div>
                        </div>
                        <div class="info-card-text">
                          <div>
                            <fa-icon
                              placement="bottom"
                              ngbTooltip="By Plane"
                              [icon]="faPlane"
                            ></fa-icon>
                          </div>
                          <div style="margin-left: 5px" class="extra-text">
                            {{ temple.trip.by_air }}
                          </div>
                        </div> 
                        

                      </div> 
                    </div>
                  </div> -->
                    <div style="width: 600px; margin-bottom: 30px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);border-radius: 10px;height: fit-content;">
                      <h5 style="text-align: center; padding: 10px;">HOW TO REACH</h5>
                      <mat-accordion>
                        <mat-expansion-panel  hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <fa-icon
                              class="fa fa-xl"
                              [icon]="faRoad"
                            ></fa-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                              By Road
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p> {{ temple.trip.nearest_road }}</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel  hideToggle >
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <fa-icon
                              class="fa fa-xl"
                              [icon]="faTrain"
                            ></fa-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                              By Train
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p> {{ temple.trip.nearest_railway }}</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel  hideToggle >
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <fa-icon
                              class="fa fa-xl"
                              [icon]="faPlane"
                            ></fa-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                             By Plane
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>{{ temple.trip.by_air }}</p>
                        </mat-expansion-panel>
                      </mat-accordion>                  
                     </div>
                     <div style="width: 600px;margin-bottom: 30px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);border-radius: 10px;height: fit-content;">
                       <h5 style="text-align: center;padding: 10px;">Best Time to Visit</h5>
                      <mat-accordion>
                        <mat-expansion-panel  hideToggle >
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                             Best Time
                            </mat-panel-title>
                            <mat-panel-description>
                              
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p> {{ temple.trip.best_time }}</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel  hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Festival
                            </mat-panel-title>
                            <mat-panel-description>
                              
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p> {{ temple.trip.festivals }}</p>
                        </mat-expansion-panel>

                      </mat-accordion>                  
                     </div>
                     <div style="width: 600px;margin-bottom: 30px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);border-radius: 10px;height: fit-content;">
                       <h5 style="text-align: center;padding: 10px;">Contact</h5>
                      <mat-accordion>
                        <mat-expansion-panel  hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <fa-icon
                              class="fa fa-lg"
                              [icon]="faLocation"
                            ></fa-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                              Address
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p> {{ temple.contact.address }}</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel  hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <fa-icon
                              class="fa fa-lg"
                              [icon]="faPhone"
                            ></fa-icon>
                            </mat-panel-title>
                            <mat-panel-description>
                              Phone
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p> {{ temple.contact.phone }}</p>
                        </mat-expansion-panel>
  
                      </mat-accordion>                  
                     </div>
                  
              
                  <!-- <div class="trip-card">
                    <div style="padding: 10px">
                      <div class="info-card-container">
                        <h5 style="text-align: center">BEST TIME TO VISIT</h5>

                        <div class="info-card-text">
                          <div>
                            <h6>Best Time To Visit:</h6>
                          </div>
                          <div style="margin-left: 5px">
                            {{ temple.trip.best_time }}
                          </div>
                        </div>
                        <div class="info-card-text">
                          <div>
                            <h6>Festival:</h6>
                          </div>
                          <div class="festival-text" style="margin-left: 5px">
                            {{ temple.trip.festivals }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="contact-card">
                    <div style="padding: 10px">
                      <div style="margin-left: 10px; margin-right: 10px">
                        <h5 style="text-align: center">CONTACT</h5>
                        <div class="info-card-text">
                          <div>
                            <fa-icon
                              placement="bottom"
                              ngbTooltip="Address"
                              [icon]="faLocation"
                            ></fa-icon>
                          </div>
                          <div style="margin-left: 5px">
                            {{ temple.contact.address }}
                          </div>
                        </div>

                        <div class="info-card-text">
                          <div>
                            <fa-icon
                              placement="bottom"
                              ngbTooltip="Phone"
                              [icon]="faPhone"
                            ></fa-icon>
                          </div>
                          <div style="margin-left: 5px">
                            {{ temple.contact.phone }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div>
                  <div style="margin-top: 30px">
                    <div class="gallery-heading">Gallery</div>
                    <hr />
                  </div>
                  <div class="gallery-lightbox-container">
                    <div class="gallery">
                      <div
                        *ngFor="let data of temple.gallery; let i = index"
                        class="gallery-img"
                      >
                        <img
                          (click)="onPreviewImage(i)"
                          [src]="data"
                          [alt]="i"
                        />
                      </div>
                    </div>
                    <div *ngIf="showMask" class="lightbox" @animation2>
                      <button
                        *ngIf="previewImage"
                        type="button"
                        class="close-btn"
                        (click)="onClosePreview()"
                        mat-icon-button
                        color="warn"
                      >
                        <mat-icon
                          ><fa-icon class="fa-solid" [icon]="faClose"></fa-icon
                        ></mat-icon>
                      </button>

                      <div
                        *ngIf="previewImage"
                        [@animation]="{ value: 'visible' }"
                        (@animation.done)="onAnimationEnd($event)"
                        class="lightbox-img"
                      >
                        <img [src]="temple.gallery[num]" />
                        <!-- <div class="bottom-left">&copy; Dinesh Dixit</div> -->
                        <div
                          class="bottom-left"
                          style="color: rgb(0, 255, 132)"
                          mat-flat-button
                        >
                          {{ num + 1 }}/{{ temple.gallery.length }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div
                style="
                  padding-left: 10px;
                  display: flex;
                  width: 150px;
                  justify-content: space-around;
                "
              >
                <a
                  href="{{ temple.basic.location.iframe }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><fa-icon
                    placement="top"
                    ngbTooltip="Open in map"
                    [icon]="faMapLocation"
                    class="fa-xl"
                    style="color: black"
                  ></fa-icon
                ></a>

                <a
                  *ngIf="temple.basic.website"
                  href="{{ temple.basic.website }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  ><fa-icon
                    placement="top"
                    ngbTooltip="Website"
                    [icon]="faGlobe"
                    class="fa-xl"
                    style="color: black"
                  ></fa-icon
                ></a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
