.aligning {
  width: 100%;
  display: flex;
  margin-top: 25px;
  z-index: 10;
}
.card {
  height: 350px;
  width: 100%;
  max-width: 850px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
}

.card .inner_part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
  height: 350px;
  position: absolute;
}

.inner_part .card-img {
  height: 260px;
  width: 260px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.712);
  background-position: center;
  background-size: cover;
}

.content {
  width: 530px;
  padding-right: 20px;
  margin-left: 20px;
  opacity: 1;
  transition: 0.6s;
}

.content .title {
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin: 0 0 0px 0;
}

.content .text {
  font-size: 19px;
  font-weight: 400;
  font-family: "Cairo Play", sans-serif;
  color: #4e4a67;
  margin: 0 auto 30px auto;
  line-height: 1.5em;
  text-align: justify;
}

.content button {
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: #000000;
  float: right;
}

.content button:hover {
  background: #cecece;
  color: #000000;
}

.modal-body {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}
.modal-body::-webkit-scrollbar {
  width: 0px; /* Adjust this to your preference */
}
.modal-body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}
.card-inner {
  height: 220px;
  width: 500px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  right: 1rem;
  position: absolute;
}
.profile-image {
  width: 500px;
  height: 800px;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  float: right;
  margin-left: 15px;
  margin-top: 250px;
}
.info {
  /* font-family: 'Noto Sans Nabataean', sans-serif; */
  font-family: "Cairo Play", sans-serif;
  text-align: left;
  font-size: 19px;
}
.trip-card {
  height: 250px;
  width: 600px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.contact-card {
  height: 250px;
  width: 600px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  font-size: 16px;
}
.info-card {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.info-card-text {
  display: flex;
  margin-bottom: 5px;
}
.info-card-container {
  margin-left: 10px;
  margin-right: 10px;
}
.extra-text {
  overflow: scroll;
  height: 110px;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}
.extra-text::-webkit-scrollbar {
  width: 0;
}
.festival-text {
  overflow: scroll;
  height: 170px;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}
.festival-text::-webkit-scrollbar {
  width: 0;
}
.gallery-heading {
  text-align: center;
  font-family: "Cairo Play", sans-serif;
  font-size: 30px;
}
.temple-list {
  background-image: url(../../assets/kailash.jpg);
  position: fixed;
  overflow: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  margin: 0;
  padding: 0;
  width:100vw;
  height:100vh;
  background-repaeat:no-repeat;
  background-position: center;
  background-size: cover;
  
}
.temple-list::-webkit-scrollbar {
  width: 0;
}
.img-overlay {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  opacity: .5;
 

  position: fixed;
}
.tab {
  display: inline-block;
  margin-left: 4em;
}
.modal-footer{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  padding: 0;
  
}
/* ***************************************************** */
:host {
  display: block;
  text-align: center;
}

.gallery-lightbox-container {
  position: relative;
  display: inline-block;
  padding: 25px;
  .gallery {
    line-height: 0;
    column-count: 4;
    column-gap: 30px;
    .gallery-img img {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 0.35rem;
      margin-bottom: 30px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.71);
    }
  }

  .lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
    .count {
      position: absolute;
      top: 0;
      left: 0;
      width: 7%;
      height: 10%;
      color: #fff;
      opacity: 0.7;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      /* padding: 0;  */

      background: 0 0;
      border: 0;
      cursor: pointer;
      /* width: 7%;
      height: 10%; */
      color: crimson;

      z-index: 5000;
    }
    .btn-lightbox-carousel {
      position: absolute;
      /* display: flex;
      justify-content: center;
      align-items: center; */
      z-index: 1;
      /* width: 8%;
      height: 8%; */
      /* padding: 0; */
      color: #fff;
      text-align: center;
      background: 0 0;
      border: 0;
      cursor: pointer;
    }

    .btn-prev {
      left: 0;
      color: #00ff63;
      opacity: 0.4;
    }
    .btn-next {
      right: 0;
      color: #00ff63;
      opacity: 0.4;
    }
    .lightbox-img img {
      width: 100%;
      border-radius: 0.35rem;
    }
  }
  .btn-prev:hover {
    font-size: x-large;
    opacity: 1;
  }
  .btn-next:hover {
    font-size: x-large;
    opacity: 1;
  }
  .close-btn:hover {
    font-size: x-large;
    opacity: 1;
  }
}

@media screen and (min-width: 1280px) {
  .lightbox-img img {
    width: 100%;
    height: 95vh;
    border-radius: 0.35rem;
  }
}
@media screen and (max-width: 1024px) {
  .gallery-lightbox-container {
    .gallery {
      column-count: 2;
      width: 100%;
      .gallery-img img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .gallery-lightbox-container {
    .gallery {
      column-count: 2;
      .gallery-img img {
        max-width: 100%;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .gallery-lightbox-container {
    .gallery {
      column-count: 1;
      .gallery-img img {
        width: 100%;
      }
    }
  }

  .card {
    height: 350px;
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
  }

  .card .inner_part {
    display: grid;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: none;
    align-items: none;
    margin: 0;
  }

  .inner_part .card-img {
    height: 160px;
    width: 100%;
    padding: 0;
    border-radius: 25px 25px 8px 10px;
    overflow: none;
    flex-shrink: 0;
    box-shadow: none;
    background-position: center;
    background-size: cover;
    margin: -3px 0 0 0;
  }

  .content {
    width: 100%;
    padding-right: 20px;
    margin-left: 10px;
    opacity: 1;
    transition: 0ms;
  }

  .content .title {
    text-align: start;
    font-size: 17px;
    font-weight: 600;
    color: #0d0925;
    margin: 5px 0 0 0;
  }

  .content .text {
    font-size: 13px;
    font-weight: 400;
    font-family: "Cairo Play", sans-serif;
    color: #4e4a67;
    margin: 0 auto 10px auto;
    line-height: 1.5em;
    text-align: justify;
  }

  .content button {
    padding: 10px 15px;
    border: none;
    font-size: 13px;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    background: #000000;
    float: right;
  }

  .content button:hover {
    background: #cecece;
    color: #000000;
  }
  .card-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .card-inner {
    height: 210px;
    width: 94%;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    right: 0.8rem;
    margin: 0 auto;
  }
  .profile-image {
    width: 100%;
    height: 500px;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 25px;

    margin-left: auto;
    margin-top: 270px;
    margin-bottom: 15px;
  }
  .info {
    font-family: "Cairo Play", sans-serif;
    text-align: left;
    font-size: 15px;
  }
  .trip-card {
    height: 250px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    font-size: 12px;
  }
  .contact-card {
    height: 160px;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    font-size: 14px;
  }
  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-card-text {
    display: flex;
    margin-bottom: 2px;
  }
  .info-card-container {
    margin-left: 5px;
    margin-right: 5px;
  }
  .extra-text {
    overflow: scroll;
    height: 84px;
    scrollbar-width: 0;
    -ms-overflow-style: none;
  }
  .festival-text {
    overflow: scroll;
    height: 160px;
    scrollbar-width: 0;
    -ms-overflow-style: none;
  }
}

.lightbox-img {
  position: absolute;
  text-align: center;
}
.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 50;

  /* width: 180px; */
  text-align: left;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;

  color: #00ff91;
  letter-spacing: 0.25em;
}
