<img
  class="outer-container"
  src="../../assets/kailash.jpg"
  style="object-fit: cover; height: 100%; width: 100%"
/>
<div class="search-div">
  <div style="z-index: 2" class="search-box">
    <button class="btn-search"><fa-icon [icon]="faSearch"></fa-icon></button>
    <input
      matInput
      (keyup)="searchTemple()"
      [formControl]="inputControl"
      type="text"
      class="input-search"
      placeholder="Type to Search..."
    />
  </div>

  <p-splitButton
    class="button-small"
    styleClass="p-button-raised p-button-plain p-button-text mr-2 mb-2"
    icon="pi pi-filter"
    pTooltip="Filter"
    tooltipPosition="top"
    [model]="items"
  >
  </p-splitButton>
</div>
<div class="spinner">
  <p-progressSpinner
    *ngIf="isLoading"
    styleClass="w-4rem h-4rem "
    strokeWidth="4"
    animationDuration=".4s"
  ></p-progressSpinner>
</div>
<div class="not-found" *ngIf="!found">Not Found</div>
<div *ngIf="!isLoading" class="temple-list" style="padding-bottom: 5rem;">
  <div class="aligning">
    <div *ngFor="let temple of filteredData">
      <div class="card" (click)="open(temple)">
        <div class="inner_part">
          <img
            loading="lazy"
            src="{{ temple.photos.cover }}"
            class="card-img"
            style="object-fit: cover"
          />
          <div class="content">
            <div class="title">
              {{ temple.basic.name }}, {{ temple.basic.location.state }}
            </div>
            <div class="text">
              {{ temple.basic.bio }}
            </div>
            <button class="card-btn" (click)="open(temple)">Read More</button>
          </div>
        </div>
      </div>
      <ng-template let-modal> </ng-template>
    </div>
  </div>
  <div *ngIf="!isFilter" class="paginator">
    <div style="width: 10rem; display: flex; justify-content: space-between">
      <button
        [disabled]="startIndex == 0"
        class="btn btn-light"
        (click)="prevPage()"
        type="button"
      >
        <i class="pi pi-chevron-left" style="font-size: 1rem"></i>
      </button>
      <button
        [disabled]="endIndex >= totalRecords"
        class="btn btn-light"
        type="button"
        (click)="nextPage()"
      >
        <i class="pi pi-chevron-right" style="font-size: 1rem"></i>
      </button>
    </div>
    <div style="margin-left: 2rem; width: 1rem;color: #ffff;">
      {{ startIndex + filteredData.length }}/{{ totalRecords }}
    </div>
  </div>
</div>

