<div class="gallery-lightbox-container">
  <div class="gallery">
    <div
      *ngFor="let data of galleryData; let i = index"
      class="gallery-img"
    >
      <img
        loading="lazy"
        (click)="onPreviewImage(i)"
        [src]="data"
        [alt]="i"
      />
    </div>
  </div>
  <div *ngIf="showMask" class="lightbox" @animation2>
    <button
      *ngIf="previewImage"
      type="button"
      class="close-btn"
      (click)="onClosePreview()"
      mat-icon-button
      color="warn"
    >
      <mat-icon
        ><fa-icon class="fa-solid" [icon]="faClose"></fa-icon
      ></mat-icon>
    </button>

    <div
      *ngIf="previewImage"
      [@animation]="{ value: 'visible' }"
      (@animation.done)="onAnimationEnd($event)"
      class="lightbox-img"
    >
      <img [src]="galleryData[num]" loading="lazy" />
      <!-- <div class="bottom-left">&copy; Dinesh Dixit</div> -->
      <div
        class="bottom-left"
        style="color: rgb(0, 255, 132)"
        mat-flat-button
      >
        {{ num + 1 }}/{{ galleryData.length }}
      </div>
    </div>
  </div>
</div>
