.nav-link {
  font-size: 20px;
  padding: 5px;
  color: rgb(255, 255, 255);
}
.not-active {
  width: 130px;
  text-align: center;
  padding: 10px;
  margin-right: 0;
  color: rgb(255, 255, 255);

  font-size: x-large;
}
.not-active:hover {
  width: 110px;
  text-align: center;
  padding: 5px;
  border-radius: 30px;
  background-color: rgb(255, 187, 0);
  color: rgb(0, 0, 0);
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
  font-size: x-large;
  transform: translateY(20px);
}
.nav-item {
  width: 100px;
  text-align: center;
}
.nav-item:hover {
  padding: 0px;
  border-radius: 40px;
  background-color: chocolate;
  color: rgb(255, 255, 255);
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
  transform: translateY(10px);

  .nav-link {
    color: black;
    transition: 500ms;
  }
}
.nav-item-active {
  padding: 0px;
  border-radius: 40px;
  background-color: chocolate;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  transition: 0s;
  .nav-link {
    color: black;
  }
}
.brand-active {
  width: 110px;
  text-align: center;
  padding: 5px;
  border-radius: 30px;
  background-color: rgb(255, 187, 0);
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);

  font-size: x-large;
}
@media screen and (max-width: 650px) {
  .not-active {
    width: 100px;
    text-align: center;
    padding: 5px;
    margin-right: 0;
    color: rgb(255, 255, 255);

    font-size: large;
  }
  .nav-item {
    width: 100px;
  }
  .nav-link {
    padding: 0;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: none;
  }
  .nav-item-active {
    padding: 5px;
    border-radius: 30px;
    background-color: chocolate;
    box-shadow: none;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    transform: none;
    .nav-link {
      color: black;
      transition: 0ms;
    }
  }
  .not-active:hover {
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(255, 187, 0);
    box-shadow: none;
    color: rgb(0, 0, 0);
    transition: 0s;
    font-size: large;
    transform: none;
  }
  .brand-active {
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(255, 187, 0);
    box-shadow: none;
    color: rgb(0, 0, 0);
    font-size: large;
  }

  .nav-item:hover {
    padding: 5px;
    border-radius: 40px;
    background-color: chocolate;
    box-shadow: none;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    transform: none;

    .nav-link {
      color: black;
      transition: 0s;
    }
  }

  .navbar {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
}
