<!-- <div class="page">
<div style="margin-top: 60px; text-align: center; ">
Welcome
</div>
 </div>
    
    <div style="color: rgb(255, 255, 255);background-color: rgb(75, 75, 75);height: 50px;width: 100%;">
     Welcome to Shiva temples website.....
    </div>
 -->

<video poster="../../assets/kailash.png" playsinline autoplay muted loop>
  <source src="../../assets/trailer.mp4" type="video/webm" />
  <source src="../../assets/trailer.mp4" type="video/mp4" />
</video>

<div id="fashion">
  <h2>Let's Explore The Shiva Temples</h2>
</div>

<div
  style="
    color: rgb(255, 255, 255);
    background-color: rgb(75, 75, 75);
    height: 50px;
    width: 100%;
  "
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae enim est
  dolore totam culpa molestiae, aut, nostrum voluptatum ut perferendis
  voluptatem veniam minus quasi beatae vero excepturi deleniti ducimus
  aspernatur.
</div>
