<!-- <div class="page">
<div style="margin-top: 60px; text-align: center; ">
Welcome
</div>
 </div>
    
    <div style="color: rgb(255, 255, 255);background-color: rgb(75, 75, 75);height: 50px;width: 100%;">
     Welcome to Shiva temples website.....
    </div>
 -->

<div style="height:100vh;">
  <video  poster="../../assets/kailash.png"  autoplay="true" [muted]="true" loop>
    <source src="../../assets/trailer.mp4"/>
  </video>
</div>

<div
  style="
    height: 70vh;
    background-image: url(../../assets/bg.jpg);
    color: white;
    background-position: center center;
    background-size: cover;
    
    
  "
  
>
  <div
  class="mask"
 
  >
    <div class="brief">
      <span
        style="
          width: 100%;
          height: max-content;
          padding: 10px;
          text-align: center;
          margin: 0;
        "
        >स्वयंभुताय
        <p style="font-size: 1.5rem;margin:0 ;">
          The Lord is the cause of himself by himself.
        </p></span
      >
      <span
        style="
          width: 100%;
          height: max-content;
          padding: 20px;
          text-align: center;
        "
        >आदये
        <p style="font-size: 1.5rem;margin:0 ;">
          One who is the beginning of all creatures.
        </p></span
      >
      <span
        style="
          width: 100%;
          height: max-content;
          padding: 20px;
          text-align: center;
        "
        >सर्वा:
        <p style="font-size: 1.5rem;margin:0 ;">
          one who is all pervading. Nothing exists without his present.
        </p></span
      >
     
    </div>
  </div>
</div>
