<!-- <div class="page">
<div style="margin-top: 60px; text-align: center; ">
Welcome
</div>
 </div>
    
    <div style="color: rgb(255, 255, 255);background-color: rgb(75, 75, 75);height: 50px;width: 100%;">
     Welcome to Shiva temples website.....
    </div>
 -->

<video poster="../../assets/kailash.png" autoplay muted loop>
  <source src="../../assets/trailer.mp4" type="video/mp4" />
</video>

<div class="fashion">
  <div class="text">
    Let's Explore The Shiva Temples
    <div></div>
  </div>
</div>
<div
  style="
    height: 70vh;
    background-image: url(../../assets/bg.jpg);
    color: white;
    background-position: center center;
    background-size: cover;
    margin-top: 0;
  "
>
  <div
    style="
      height: 100%;
      background-color: black;
      opacity: 0.5;
      color: white;
      margin-top: 0;
    "
  >
    <div
    class="brief"
     
    >
      <span ngbTooltip="The Lord is the cause of himself by himself" >स्वयंभुताय</span>
      <span ngbTooltip="One who is the beginning of all creatures." >आदये</span>
      <span ngbTooltip="one who is all pervading. Nothing exists without his present." >सर्वा:</span>
    </div>
  </div>
</div>
<div>
  description...
</div>
