<div class="back">
  
  <div  class="grid-container">
    <h2 style="text-align: center;">Blogs goes here!</h2>
    <!-- <div *ngFor="let blog of blogs" style="margin: 0 auto">
      <p-card
        header="{{ blog.title }}"
        subheader="{{ blog.date | date }}"
        styleClass="mb-3"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="header">
          <div
            *ngIf="blog.image"
            alt="Card"
            style="background-image: url('{{ blog.image }}');"
            class="blog-img"
          ></div>
        </ng-template>
        <p>
          {{ blog.description }}
        </p>
        <ng-template pTemplate="footer">
          
            <div style="display: grid; margin: 0 0 10px 0;
            ">
              <p-tag
              *ngFor="let tag of blog.tags"
                styleClass="me-2"
                [style]="{
                  background:
                    'linear-gradient(-225deg,#FFD200 0%,#FEB800 25%,#FA9E00 50%, #F48401 75%, #EB6A12 100%)'
                }"
                [rounded]="false"
              >
                <span
                  style="
                    color: black;
                    text-transform: capitalize;
                    font-size: 11px;
                  "
                  class="text-base"
                  >#{{ tag }}</span
                >
              </p-tag>
            </div>
          
          <div style="display: flex; justify-content: center; width: 100%">
            <a href="{{ blog.link }}" target="_blank" rel="noopener noreferrer"
              ><p-button
                label="Read On Medium"
                styleClass="p-button-secondary p-button-raised  p-button-plain p-button-text mr-2 mb-2"
              ></p-button>
            </a>
          </div>
        </ng-template>
      </p-card>
    </div> -->
  </div>
</div>
