.back {
  background-image: linear-gradient(
    to right bottom,
    #efbd60,
    #f2b24b,
    #f6a637,
    #fa9921,
    #ff8b00
  );
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: fixed;
  overflow: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 100px 30px 0 30px;
}
.back::-webkit-scrollbar {
  width: 0px;
}
.blog-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
}
@media screen and (max-width: 1450px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 1280px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 650px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
}
